#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

CMAKE_FLAGS += -DDEB_BUILD_MULTIARCH=`dpkg-architecture -qDEB_BUILD_MULTIARCH`

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_test:
	# TODO: test_FFT_operator takes forever to complete
	true

override_dh_auto_configure:
	cp -r /usr/include/eigen3 .
	cd eigen3 && patch -p1 < ../debian/eigen3_LukePratley.patch
	dh_auto_configure -- $(CMAKE_FLAGS)
