#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

CMAKE_FLAGS += -DDEB_BUILD_MULTIARCH=`dpkg-architecture -qDEB_BUILD_MULTIARCH`

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	cp -r /usr/include/eigen3 .
	cd eigen3 && patch -p1 < ../debian/eigen3_LukePratley.patch
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_auto_install:
	dh_auto_install
	mv debian/tmp/usr/bin/Purify debian/tmp/usr/bin/purify

override_dh_installman:
	LD_LIBRARY_PATH=debian/tmp/usr/lib/`dpkg-architecture -qDEB_BUILD_MULTIARCH` \
	help2man --version-string="2.0.0" -N \
	  -n "Reconstruct images from radio interferometers using PADMM" \
	  debian/tmp/usr/bin/purify > purify.1
	dh_installman
